In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r"./salesperformance.csv")
df

      order_id | order_status    | customer               | order_date | order_quantity | sales     | discount | discount_value | product_category | product_sub_category           |
0     +----------+-----------------+----------------...
1     |        3 | Order Finished  | Muhammed MacInt...
2     |      293 | Order Finished  | Barry French   ...
3     |      483 | Order Finished  | Clay Rozendal  ...
4     |      515 | Order Finished  | Carlos Soltero ...
...                                                 ...
5496  |    52706 | Order Finished  | Paul Prost     ...
5497  |    54279 | Order Finished  | Lisa DeCherney ...
5498  |    55558 | Order Finished  | Philip Brown   ...
5499  |    56581 | Order Finished  | Lisa DeCherney ...
5500  +----------+-----------------+----------------...

[5501 rows x 1 columns]

The first look at this data, we can already tell it is in a dire need of bathing.

In [3]:
df.columns

Index([' order_id | order_status    | customer               | order_date | order_quantity | sales     | discount | discount_value | product_category | product_sub_category           |'], dtype='object')

### Data Cleaning
Before we can take a good look at the data, we first need to align the data properly. To do so, we need to separate the column names, feed it into the dataframe again.

Since "|" denotes the separation of each column, let's split it with that.

In [4]:
col_names = df.columns.str.split("|")
col_names

Index([[' order_id ', ' order_status    ', ' customer               ', ' order_date ', ' order_quantity ', ' sales     ', ' discount ', ' discount_value ', ' product_category ', ' product_sub_category           ', '']], dtype='object')

In [5]:
col_names_sep = []
for x in col_names:
    for y in x:
        col_names_sep.append(y.strip())
col_names_sep

['order_id',
 'order_status',
 'customer',
 'order_date',
 'order_quantity',
 'sales',
 'discount',
 'discount_value',
 'product_category',
 'product_sub_category',
 '']

In [6]:
col_names_sep.pop()
col_names_sep

['order_id',
 'order_status',
 'customer',
 'order_date',
 'order_quantity',
 'sales',
 'discount',
 'discount_value',
 'product_category',
 'product_sub_category']

Column names are now good to go. Each name is its own element in the list, we've stripped white space, and the last element which was an empty space is now gone.

In [7]:
col_values = df.iloc[:, 0].str.split("|")
col_values[1]

['',
 '        3 ',
 ' Order Finished  ',
 ' Muhammed MacIntyre     ',
 ' 2010-10-13 ',
 '              6 ',
 '    523080 ',
 '     0.04 ',
 '          20923 ',
 ' Office Supplies  ',
 ' Storage & Organization         ',
 '']

In [8]:
print(len(col_names_sep))

10

The number of column names and column values will match once those white spaces are removed from column values. With the spaces, there are 12 elements, but since there's a space at the start and the end of the list (2), the number of values should be reduced to 10.

Going to take it step-by-step. Start with cleaning the list of column values and store it into another variable. 
Let's keep in mind that the very first element of "col_values" list is unusuable data, so we'll start the iteration from the index position 1.

clean_values will be the new list which will be populated with inner list of elements that have been stripped of undesired values, and this inner list will have the same length as the column names.
The reason for using nested lists here is so that for each inner list, each column can take on the appropriate value. The data are already sorted in order.

In [9]:
clean_values = []
for inner_list in col_values[1:-1]:
    temp_list = []
    for ind in range(len(inner_list) - 1):
        if inner_list[ind] == "":
            continue
        temp_list.append(inner_list[ind].strip())
    clean_values.append(temp_list)

In [10]:
print(len(clean_values))

5499

In [11]:
print(len(clean_values[0]))

10

Now that the column values are clean, they are ready to be applied to a dataframe. I'm going to leave the original dataframe as is even though it's not usable, just so I could always go back to that dirty dataframe if I've made mistakes along the way while cleaning.

In [12]:
clean_df = pd.DataFrame(data=clean_values, columns=col_names_sep)
clean_df

,order_id,order_status,customer,order_date,order_quantity,sales,discount,discount_value,product_category,product_sub_category
0,3,Order Finished,Muhammed MacIntyre,2010-10-13,6,523080,0.04,20923,Office Supplies,Storage & Organization
1,293,Order Finished,Barry French,2012-10-01,49,20246040,0.07,1417223,Office Supplies,Appliances
2,483,Order Finished,Clay Rozendal,2011-07-10,30,9931519,0.08,794522,Technology,Telephones and Communication
3,515,Order Finished,Carlos Soltero,2010-08-28,19,788540,0.08,63083,Office Supplies,Appliances
4,613,Order Finished,Carl Jackson,2011-06-17,12,187080,0.03,5612,Office Supplies,Binders and Binder Accessories
...,...,...,...,...,...,...,...,...,...,...
5494,47360,Order Finished,Philip Brown,2010-10-08,25,4401280,0.05,220064,Furniture,Chairs & Chairmats
5495,52706,Order Finished,Paul Prost,2012-07-09,34,2083320,0.02,41666,Office Supplies,Binders and Binder Accessories
5496,54279,Order Finished,Lisa DeCherney,2011-07-30,41,20142180,0.1,2014218,Technology,Office Machines
5497,55558,Order Finished,Philip Brown,2010-08-09,8,2588080,0.05,129404,Furniture,Bookcases
5498,56581,Order Finished,Lisa DeCherney,2009-02-08,20,4052020,0.1,405202,Furniture,Office Furnishings

This new dataframe should be good to go for actual EDA and Visualization.

### Important to note:
According to the person who uploaded the dataset, "sales" column refers to the sales generated in Indonesia Rupiah currency. Meaning, "sales" column represents profit, and "order_quantity" refers to the number of the specific item. "discount_value" column is also in terms of money, the value of which comes from "sales" multiplied by "discount" which is a percentage in decimal form.

"sales" column, then, will be converted to USD for easier read for those familiar with USD.